{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/jtree/themes/default/style.min.css') }}">
{% endblock %}

{% block body %}
    <h1>Categories list</h1>

    <div id="tree"></div>
    <button id="new_category" class="btn btn-default">New Category</button>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jtree/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jtree/jstree.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/loadCategoriesEdit.js') }}"></script>
{% endblock %}