{% extends 'ajax.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/jtree/themes/default/style.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/category.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <div id="tree"></div>
        </div>
        <div class="col-6">
            <h3>Selected Categories: </h3>
            <ul id="categories-list"></ul>
        </div>
    </div>

    <br/>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jtree/jstree.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/app/js/loadCategories.js') }}"></script>

{% endblock %}