{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/jtree/themes/default/style.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/category.css') }}">
{% endblock %}


{% block body %}
    <h1>Book edit</h1>

    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-4">
                    {{ form_row(edit_form.title) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(edit_form.author) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(edit_form.price) }}
                </div>
            </div>
        </div>
    </div>
    <h3>Select Categories: </h3>
    <div class="row">

        <div class="col-6">
            <div id="tree"></div>
        </div>
        <div class="col-6">

            <ul id="categories-list" data-prototype="{{ form_widget(edit_form.categories.vars.prototype)|e }}">
                {% set i = 0 %}
                {% for category in edit_form.categories %}
                    {% set cate = category.vars.value.category %}
                    {% if cate %}
                        <li class="ui-state-default cat-element" data-id="{{ cate.id }}" data-priority="{{ category.vars.value.priority }}">
                        <input type="hidden" id="appbundle_book_categories_{{ i }}_priority" name="appbundle_book[categories][{{ i }}][priority]" value="{{ cate.id }}">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <input type="hidden" id="appbundle_book_categories_{{ i }}_category" value="{{ category.vars.value.priority }}" name="appbundle_book[categories][{{ i }}][category]" required="required" readonly="readonly">
                         {{ cate.name }}
                        </li>
                    {% endif %}
                    <li style="display:none;">{{ form_row(category.category) }} {{ form_row(category.priority) }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <div class="btn-group">
            <a href="{{ path('book_index') }}" class="btn btn-default">Back to the list</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jtree/jstree.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/app/js/loadCategories.js') }}"></script>

{% endblock %}