{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search</h1>

    {{ form_start(search_form) }}
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-3">
                    {{ form_row(search_form.fromPrice) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(search_form.toPrice) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(search_form.category) }}
                </div>

                <div class="col-md-3 search-button">
                    <input type="submit" class="form-control"  value="Search" >
                </div>
            </div>
        </div>
    </div>
    {{ form_end(search_form) }}

    <h1>Books list</h1>

    <table class="table">
        <thead>
            <tr>
                <th {% if pagination.isSorted('b.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'b.title') }}</th>
                <th {% if pagination.isSorted('b.Author') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Author', 'b.author') }}</th>
                <th {% if pagination.isSorted('b.Price') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Price', 'b.price') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in pagination %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="btn-group">
            <a href="{{ path('book_new') }}" class="btn btn-default">Create a new book</a>
    </div>
{% endblock %}
