{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/jtree/themes/default/style.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/category.css') }}">
{% endblock %}

{% block body %}
    <h1>Book creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <h3>Select Categories: </h3>
    <div class="row">

        <div class="col-6">
            <div id="tree"></div>
        </div>
        <div class="col-6">

            <ul id="categories-list" data-prototype="{{ form_widget(form.categories.vars.prototype)|e }}">
                {% for category in form.categories %}
                    <li>{{ form_row(category.category) }} {{ form_row(category.priority) }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <div class="list-inline">
            <a href="{{ path('book_index') }}" class="btn btn-default">Back to the list</a>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jtree/jstree.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/app/js/loadCategories.js') }}"></script>

{% endblock %}