#categories-list { list-style-type: none; margin: 0px 0px 30px 0px; padding: 0; width: 60%;}
#categories-list li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#categories-list li span { position: absolute; margin-left: -1.3em; }